services:
  vgdb-bot:
    # build:
    #   context: .
    #   dockerfile: ./vgdb_bot/Dockerfile
    image: stepanosokin/vgdb-bot
    volumes:
      - ./.pgdsn:/app/vgdb_tools/vgdb_bot/.pgdsn
      - ./.ext_pgdsn:/app/vgdb_tools/vgdb_bot/.ext_pgdsn
      - ./bot_info_vgdb_bot_toAucGroup.json:/app/vgdb_tools/vgdb_bot/bot_info_vgdb_bot_toAucGroup.json
      - ./bot_info_vgdb_bot_toStepan.json:/app/vgdb_tools/vgdb_bot/bot_info_vgdb_bot_toStepan.json
      - ./.pggdal:/app/vgdb_tools/vgdb_bot/.pggdal
      - ./license_blocks_general.webhook:/app/vgdb_tools/vgdb_bot/license_blocks_general.webhook
      - ./2024_blocks_nr_ne.webhook:/app/vgdb_tools/vgdb_bot/2024_blocks_nr_ne.webhook
      - ./2024_blocks_np.webhook:/app/vgdb_tools/vgdb_bot/2024_blocks_np.webhook
      - ./.egssh:/app/vgdb_tools/vgdb_bot/.egssh

  vgdb-db:
    image: postgis/postgis:18-3.6
    environment:
      POSTGRES_DB: vgdb
      POSTGRES_USER: vgdb
      POSTGRES_PASSWORD: 123456
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    volumes:
      - ./local_postgres:/var/lib/postgresql
    ports:
      - "5432:5432"

  vgdb-pygeoapi:
    image: geopython/pygeoapi:latest
    depends_on:
      vgdb-db:
        condition: service_healthy
    volumes:
      - ./docker/compose/pygeoapi/my.config.yml:/pygeoapi/local.config.yml
    ports:
      - "5000:80"
    env_file: ./docker/compose/pygeoapi/.env